<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>I am the dashboard</div>
    <% if(food=="Pounded yam") { %>
        <div>Omo ounje</div>
    <% } else if(food=="Indomie") { %>
        <div>Na boty you be</div>
    <% } else if(food=="Spag") { %>
        <div>Omo, you get money o</div>
    <% } else { %>
        <div>Sapa things</div>
    <% } %>

    <% for( let index = 1; index <= 10; index++ ) { %>
        <div><%= index %></div>
    <% } %>
     
</body>
</html>